* {
    font-family: "Helvetica Neue";
}
body {
    background: crimson;
}

nav {
    display: inline-block;
}

header {
    background: white;
}

h1 {
    font-size: 75px;
}

a {
    color: white;
}

section {
    background: white;
}
